.card-skill {
  @include flex(flex, column, nowrap, space-evenly, center);
  background-color: $bg-secondary-color;
  min-width: 160px;
  min-height: 180px;

  &__image {
    width: 60px;
    height: auto;
  }

  &__title {
    font-size: $font-size-base;
    color: $text-color;
  }
}