.hamburger {
  display: none;

  &-inner {
    background-color: white;
  }

  &-inner::before {
    background-color: white;
  }

  &-inner::after {
    background-color: white;
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: $text-color;
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
  }
}
