.header { 
  background-color: $bg-primary-color;
  max-width: $max-width;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
  height: 4rem;
  @include flex(flex, row, nowrap, space-between, center);
}

.nav {
  width: 50%;

  &-container {
    @include flex(flex, row, nowrap, space-between, center);

    &__item {
      list-style: none;
    }

    &__link {
      color: $text-color;
      font-size: $font-size-base;
      padding: 1rem 0;

      &.active {
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: $breakpoints-lg)  {
  .hamburger {
    display: block;
  }

  .header {
    position: fixed;
    top: 0px;
    max-width: 100%;
    margin: 0 auto;
  }

  .nav {  
    display: none !important;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    @include flex(flex, column, nowrap, center, center);
    
    &-container {
      @include flex(flex, column, nowrap, space-evenly, center);
      width: 100%;
      height: 100%;
      background-color: $bg-primary-color;
    }

    &.active {
      display: block !important;
    }
  }
}