.grid-skills {
  max-width: $max-width;
  width: 50%;
  @include flex(flex, row, wrap, center, center);
  gap: 30px;
  margin: 6rem auto;
}

@media screen and (max-width: $breakpoints-lg) {
  .grid-skills {
    width: 100%;
  }
}